@ chaset "utf-8";
.navbar {width:100%;text-align:center;opacity:0.8}
.navbar li {line-height:25px;}
.navbar .standard_li {width:120px;line-height:25px;}
.navbar .navbar-inner .logo {font-weight:bold;color:#f8d406;margin-top:3px;padding-left:45px;}
.nav img {width:45px;height:20px;}
.nav .navbar-inner .brand {color:#f8d406}

#side_menu {margin-left:20px;}
#side_menu li {line-height:25px;opacity :0.9}
#side_menu a {color:#222}
#side_menu .active a {color:#ffffff}

.side_menu{margin-top:30px;}
.side_menu ul {margin-top:30px;}
.side_menu .bs-docs-sidenav.affix {top:60px;}
body {padding-bottom:0;font-family: NanumBarunGothic,"NanumBarunGothic","돋움",Dotum,Arial,Dotum,Arial,Verdana,sans-serif}
.footer {color:white;background-color: rgba(0,0,0,.6);height:70px;}
.footer .gray {color:#cececd}
