@ chaset "utf-8";
body {color:#222}
body .navbar {font-size:14px;}
body {font-size:11pt;}
.navbar {width:100%;text-align:center;}
.navbar-container {width:1140px;margin:0 auto;}
.navbar li {line-height:25px;padding-top:0;height:47px;}
.navbar .standard_li {width:120px;line-height:40px;font-size:11pt;}
.navbar .navbar-inner .logo {font-weight:bold;color:#f8d406;padding-left:5px;line-height:35px;font-size:17pt;}
.navbar .navbar-inner .logo img {margin-right:10px;height:40px;}
.nav img {width:45px;height:20px;}
.nav .navbar-inner .brand {color:#f8d406}
.navbar-inverse .navbar-inner {
  background-color: #222;
  background-image: -moz-linear-gradient(top, #222, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#222));
  background-image: -webkit-linear-gradient(top, #222, #222);
  background-image: -o-linear-gradient(top, #222, #222);
  background-image: linear-gradient(to bottom, #222, #222);
  background-repeat: repeat-x;
  border-color: #252525;
}

#side_menu {background-color:#222;margin-top:-20px;font-size:13px;opacity:0.9;}
#side_menu {margin-left:20px;}
#side_menu li {line-height:25px;}
#side_menu a {color:#222}
#side_menu .active a {color:#ffffff;background-color:#1b1b1b}

.footer {color:white;background-color: rgba(0,0,0,.6);font-size:14px;padding-left:20px;padding-top:20px;padding-bottom:20px;font-size:12px;}
.footer .gray {color:#cececd}
.footer .menu_icon {width:28px;height:28px;}
.footer .menu_icon_big {width:64px;height:28px;}
.footer .footer_right {float:right}
@media (max-width: 767px)  {
	body {padding:0}
	.navbar {width:100%;text-align:center;font-weight:bold;}
	.navbar .standard_li {width:100%;line-height:25px;text-align:left;}
	.bs-docs-sidenav > li > a {width:220px;}
	#side_menu {background-color:#1b1b1b;margin-top:-20px;font-size:13px;opacity:0.9;margin-bottom:30px;width:100%;}
	.footer {font-size:10px;padding-left:10px;}
	.footer .footer_right {float:left}
}
