@ chaset "utf-8";
.navbar {width:100%;text-align:center}
.navbar li {line-height:25px;}
.navbar .standard_li {width:120px;line-height:25px;}
.navbar_inner div {width:1200px;margin: 0 auto;}
.navbar .navbar-inner .logo {font-weight:bold;color:white}
.nav img {width:45px;height:20px;}

#side_menu {margin-left:20px;}
#side_menu li {line-height:25px;}
#side_menu a {color:#222}
#side_menu .active a {color:#ffffff}

.side_menu{margin-top:30px;}
.side_menu ul {margin-top:30px;}
.side_menu .bs-docs-sidenav.affix {top:60px;}
body {padding-bottom:0;font-family: 'Nanum Gothic', sans-serif;}
.footer {color:white;background-color: rgba(0,0,0,.6);height:70px;}
