html {padding-bottom:0; font-family: Nanum Barun Gothic,"나눔고딕", NanumGothic, Malgun Gothic, "돋움", Dotum, AppleGothic, sans-serif !important;}
.catch_small {color:#f8d406;font-weight:bold;font-size:13pt;}
.catch_small2 {color:#222;font-weight:bold;font-size:13pt}
.catch_font2 {font-size:15pt;font-weight:bold;color:#222;font-family: Nanum Barun Gothic,"나눔고딕", NanumGothic, Malgun Gothic, "돋움", Dotum, AppleGothic, sans-serif !important;}
.catch_font3{font-size:13pt;font-weight:bold;color:#222}
.catch_font {font-size:15pt;font-weight:bold;color:#f8d406;}
.margin30 {margin-top:30px;margin-bottom:30px;}
.margin10 {margin-top:10px;margin-bottom:10px;}
.margin20 {margin-top:20px;margin-bottom:20px;}
.margin50 {margin:50px;}
.weeker {color:#666}
.mild {color:#777;font-size:9pt;}
.center {text-align:center}
.nodecolink a {color:#222}
.yellow {color:#fdd200;}
.btn_yellow {
	background-color: #fdd200;
	color:#ffffff;
	padding:12px 25px;
	-webkit-border-radius:4px;
	-moz-border-radius :4px;
	border-radius:4px;
	font-size:13px;
}
.btn_yellow:HOVER {
	color:#ffffff
}
.blue {
	color:#0096d6;
}
a {cursor:pointer}
.btn_new{border:2px solid #ffffff; background-color:rgba(0, 0, 0, 0);padding:12px 25px;color:#ffffff;font-size:11pt;
-webkit-border-radius:4px;
-moz-border-radius :4px;
border-radius:4px;
letter-spacing:1px;
cursor:pointer;
}
@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
    background-color: #fff;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
