<!DOCTYPE html>
<html lang="ko">
{% extends "menu.html" %}
{% block content %}
<head>
   <meta charset="utf-8">
   <title>Bootstrap, from Twitter</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
   		@import url("/static/css/docs.css");	
		@import url("/static/css/bootstrap.css");
		@import url("/static/css/bootstrap-responsive.css");
		@import url("/static/css/menu.css");	
	    @import url("/static/css/aboutus.css");
	    @import url("/static/css/style.css");
	</style>
</head>
<body onload="changeMenuColor('about_menu')">
<div class="row" id="about_us">
	<div class="span3 side_menu">
		<div id="side_menu" class="bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav bs-docs-sidebar">
			  <li class="active"><a href="#aboutus"><i class="icon-user"></i> 디딤소개</a></li>
			  <li><a href="#project_story"><i class="icon-book"></i>프로젝트 소개</a></li>
			  <li><a href="#career"><i class="icon-list"></i> 약력</a></li>
			  <li><a href="#contact"><i class="icon-search"></i> 연락처 계좌 안내</a></li>
			  <li><a href="#map"><i class="icon-map-marker"></i> 찾아오는 길</a></li>
			</ul>
		</div>
	</div>
	<div id="aboutus_content" class="span9 main_content">
		<section id="aboutus">
		<div class="chunk" >
			<div class="introduce">
			  <div class="catch">
				 <img src="/static/image/banner_aboutus.png">
			  </div>
			  <div class="margin30">
		  	  	<h2 class="blue">40년 구두 장인의 구둣방</h2>
		  	  </div>
			  <div class="row chunk_content">
			      <div class="span12">
			  		  <img src="/static/image/about_us.jpg">
			  	  </div>
			  	  <div class="span12 margin30">
					  <p class="paragraph">
					  디딤 구둣방은 <strong> 구두, 운동화, 워커, 가방 수선 전문 업체 </strong>로 <strong>20년에 걸친 구두 제작 경력</strong>과 <strong>20년 동안의 구두수선 경력</strong>을 가진
					  구두장인 김종수 씨가 운영하는 구둣방입니다. <br>
					  20년 넘는 세월 동안 봉일시장 옆 한자리를 지키며 축적한 노하우로
					  여러분들의 구두를 새 구두처럼 수선해드립니다. <br>
					 <br>
					  디딤 구둣방은 서울시 관악구 은천동 951-2번지에 위치하고 있습니다. 
					  </p>
				  </div>
			  </div>
			</div>
			</div>
		</section>
		<section id="project_story">
			<div class="row project_story_banner">
				  <div class="span">
				  	<h2 class="blue">프로젝트 이야기</h2>
				  </div>
			  </div>
			  <div class="row chunk_content margin30">
			  	  <div class="span5">
					  <div>
						  <h3>
						  	"우리는 수선 장인들이 실력을<br>인정받는 사회를 꿈꿉니다."
						  </h3>
					  </div>
					  <div class="margin10">
						  <span>
						  보이지 않는 곳에서 수 십 년 간 한 자리를 지키며
						  낡은 신발을 고치어<br> 우리의 고단한 삶을 응원하는
						  든든한 조력자와 같은 수선 장인들
						  </span>
					  </div>
					  <div class="margin10">
						  <span>
						  디딤은 수선 장인들이 직업적 자긍심을 갖고
						  사회로 나오길 소망합니다.
						  </span>
					  </div>
				  </div>
				  <div class="span4 shoe_repair_man">
			  	  	   <img src="/static/image/shoe_repair_man.jpg">
			  	  </div>
			  </div>
			 <div class="galleria pagination-centered">
			     <img src="/static/image/main_kim_photo.jpg">
			     <img src="/static/image/sittingkim.jpg">
			     <img src="/static/image/howdo.jpg">
			     <img src="/static/image/jinjaeback.jpg">
			     <img src="/static/image/gongmojeon.jpg">
			</div>
			<div class="row chunk_content latest">
		     	<div class="span12">
		  			<h2 class="blue">Latest News</h2>
		  		</div>
			  		<div class="span4 margin10">
			  			<img src="/static/image/sittingkim.jpg">
			  		</div>
			  		<div class="span5 margin10 page-left">
			  			<div class="news_top"><span class="news_catch">NEWS</span></div>
			  			<div class="news"><span class="news_small">2015년 7월</span> / <span class="news_big">디딤 프로젝트 정식 런칭</span></div>
			  			<div class="news"><span class="news_small">2015년 11월</span> /  <span class="news_big">관악구 마을이야기 공모전 우수상 수상!</span> </div>
			  			<div class="news"><span class="news_small">2015년 12월</span> / <span class="news_big">한국사회복지협의회 사회공헌프로그램 공모전 우수상 수상!</span> </div>
			  			<div class="news"><span class="news_small">2016년 2월</span> / <span class="news_big">『2016 SMART 창업 경진대회』 2위!</span> </div>
			  		</div>
		 </div>
		</section>
		<section id="career">
		<div class="chunk">
		   <div class="catch">
			  <img src="/static/image/banner_career.png">
		   </div>
		   <div class="career_wrapper">
		   		<div class="chunk_content">
		   			<div class="row">
		   				<div class="span7 career_name">
		   					<h3>관악구 은천동 본점 김종수 대표</h3>
		   				</div>
		   			</div>
		   			<div class="row">
				  		<div class="photo span5">
				  			<img src="/static/image/sittingkim.jpg">
				  		</div>
				  		<div class="description span4">
				  			<h3>경력사항</h3>
				  			<ul>
				  				<li><i class="icon-arrow-right"></i> 금강제화 수제화 제작</li>
				  				<li><i class="icon-arrow-right"></i> 에스콰이어 수제화 제작</li>
				  				<li><i class="icon-arrow-right"></i> 명동 명품 싸롱화 수제화 제작</li>
				  				<li><i class="icon-arrow-right"></i> 올림피아 공장장 6년</li>
				  				<li><i class="icon-arrow-right"></i> 관악구 은천동 디딤 구두수선방 20년 </li>
				  				<li><i class="icon-arrow-right"></i> 관악구 구두수선 협회 총무 </li>
				  			</ul>
				  		</div>
			  		</div>
		  		</div>
	  	    </div>
		</div>
		</section>
		<section id="contact"> 
		<div class="chunk">
			<div class="introduce">
			  <div class="catch">
				  <img src="/static/image/banner_contact.png">
			  </div>
			 </div>
			<div class="chunk_content">
				<table class="table table-bordered">
					<tr>
						<th>주소</th>
						<td>서울시 관악구 은천동 951-2번지</td>
					</tr>
					<tr>
						<th>연락처</th>
						<td>010-3892-1902</td>
					</tr>
					<tr>
						<th>카카오톡 ID</th>
						<td><img src="/static/image/yellow.jpg"></td>
					</tr>
					<tr>
						<th>계좌 번호</th>
						<td>국민은행 471602-96-111897 김종수</td>
					</tr>
				</table>
			</div>
		</div>
		</section>
		<section id="map">
		<div class="chunk">
			<div class="introduce">
			  <div class="catch">
				  <h2 class="blue">찾아오는 길</h2>
			  </div>
			  <div class="map">
			  	<div class="row margin30">
				  	<div class="span">
				  	<h4>디딤은 봉천역 4번 출구에서 도보로 10분 거리에 위치하고 있습니다.</h4>
				  	<h4>아래 안내를 참고하시면 어렵지 않게 찾아오실 수 있습니다. :)</h4>
				  	</div>
				  	<div class="span">
				  	<a href="http://map.naver.com/local/siteview.nhn?code=37165767">
				  	<img class="navermap" src="/static/image/navermap.png"> 
				  	<div>네이버 지도 보기</div>
				  	</a>
				  	</div>
			  	</div>
			  	<div>
			  	</div>
			  	<div class="span8 slide_span">
				  <img src="/static/image/Slide1.JPG">
				</div>
				<div class="span8 slide_span">
				  <img src="/static/image/Slide2.JPG">
				</div>
				<div class="span8 slide_span">
				  <img src="/static/image/Slide3.JPG">
				</div>
				<div class="span8 slide_span">
				  <img src="/static/image/Slide4.JPG">
				</div>
				<div class="span8 slide_span">
				  <img src="/static/image/Slide5.JPG">
				</div>
				<div class="span8 slide_span">
				  <img src="/static/image/Slide6.JPG">
				</div>
				<div class="span8 slide_span">
				  <img src="/static/image/Slide7.JPG">
				</div>
				<div class="span8 slide_span">
				  <img src="/static/image/Slide8.JPG">
				</div>
				<div class="span8 slide_span">
				  <img src="/static/image/Slide9.JPG">
				</div>
			  </div>
			  </div>
			 </div>
		</section>
	</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type='text/javascript' src='static/galleria/galleria-1.4.2.min.js'></script>
<script>
Galleria.loadTheme('/static/galleria/themes/classic/galleria.classic.min.js');
Galleria.run('.galleria');
</script>
</body>
{% endblock %}
</html>