<!DOCTYPE html>
<html lang="ko">
{% extends "menu.html" %}
{% block content %}
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<style>
@import url("/static/css/event.css");
#admin_menu {height:500px;}	
</style>
</head>
<body>
<div class="container" id="admin_menu">
	<h2>관리자 메뉴</h2>
	<form action="adminMenu" method="post" name="adminForm">
		디딤 1대 PM의 이름은?
		<input type="text" name="answer"><br>
		<a class="btn" onclick="adminForm.submit()">제출</a>
	</form>
</div>
{% endblock %}
</body>
</html>