<!DOCTYPE html>
<html lang="ko">
<head>
{% extends "menu.html" %}
<meta charset="utf-8">
<title>{{title}}</title>
</head>
{% block content %}
<head>
   <meta charset="utf-8">
   <title>이용방법</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
   		@import url("/static/css/docs.css");	
		@import url("/static/css/bootstrap.css");
		@import url("/static/css/bootstrap-responsive.css");
	    @import url("/static/css/aboutus.css");
	    @import url("/static/css/description.css");
	    @import url("/static/css/menu.css");	
	</style>
</head>
<body onload="changeMenuColor('description_menu')">
<div class="row">
<div class="span3 side_menu">
<div id="side_menu" class="bs-docs-sidebar">
	<ul class="nav nav-list bs-docs-sidenav bs-docs-sidebar">
	  <li class="active"><a href="#use"><i class="icon-search"></i> 이용방법</a></li>
	  <li><a href="#repair" class="repair_side dropdown-submenu"><i class="icon-tags"></i> 구두수선요금</a></li>
  	  <li class="fee_sub"><a href="#man">&nbsp;&nbsp;&nbsp;- 남성구두</a></li>
	  <li class="fee_sub"><a href="#woman">&nbsp;&nbsp;&nbsp;- 여성구두</a></li>
	  <li class="fee_sub"><a href="#walker">&nbsp;&nbsp;&nbsp;- 워커</a></li>
	  <li class="fee_sub"><a href="#sneaker">&nbsp;&nbsp;&nbsp;- 운동화</a></li>
	  <li><a href="#ship"><i class="icon-gift"></i> 택배이용안내</a></li>
	</ul>
</div>
</div>
<div id="description" class="span9 main_content">
	<section id="use" class="chunk">
		<div class="catch">
			<img src="/static/image/banner_use.png">
		</div>
		<div class="chunk_content">
			<div class="use_img_wrapper">
				<div class="use_img" id="use_question">
					<div class="use_des">1. 게시판, 카카오톡으로 수선 문의<br><abbr title="견적문의"><a href="/boardList?menu_id=1">견적문의</a></abbr></div>
				</div>
				<div class="use_img" id="use_receive">
					<div class="use_des">2. 본사로 택배 발송<br><abbr title="택배이용안내"><a href="#ship">택배이용안내</a></abbr></div>
				</div>
				<div class="use_img" id="use_price">
					<div class="use_des">3. 전문가의 가격 책정</div>
				</div>
				<div class="use_img" id="use_money">
					<div class="use_des">4. 입금이 확인되는 즉시 수선<abbr title="진행상황확인"><a href="/boardList?menu_id=1"><br>진행상황확인</a></abbr></div>
				</div>
				<div class="use_img" id="use_give">
					<div class="use_des">5. 수선 완료 후 발송<br><abbr title="배송조회"><a href="#ship">배송조회</a></abbr></div>
				</div>
			</div>
		</div>
	</section>
	<section class="chunk" id="repair">
		<div class="catch">
			<img src="/static/image/banner_repair.png">
		</div>
		<div class="chunk_content">
			<h3>수선 요금 정가제 시행</h3>
			<div class="wearefair row">
				<div class="span2 icon_img">
					<img src="/static/image/icon1.png">
				</div>
				<div class="span5">
					디딤의 수선비는 정가제에 따라 정해지며<br>
					가격은 타 수선업체들과 비교해  <strong>합리적</strong>입니다<br> 
				</div>
			</div>
			<div class="competition">
				<table class="table table-bordered" id="fee">
					<thead></thead>
					<tbody>
						<tr class="top">
						<th>A사</th><th>B사</th><th>C사</th><th>디딤</th>
						</tr>
						<tr>
						<td>60,000원</td><td>45,000원</td><td>70,000원</td><td>35,000원</td>
						</tr>
					</tbody>
				</table>
				<div class="pagination-centered">타 수선업체와 디딤 구둣방에 각각 워커 뒷굽 및 앞코 수선을 문의한 결과입니다.</div>
			</div>
			<div class="btn-group fee_link">
			<h3>가격보기 </h3>
			  <a href="#man"><button class="btn">남성구두</button></a>
			  <a href="#woman"><button class="btn">여성구두</button></a>
			  <a href="#sneaker"><button class="btn">운동화</button></a>
			  <a href="#walker"><button class="btn">워커</button></a>
			</div>
		</div>
	</section>
	<section class="chunk" id="ship">
		<div class="catch">
			<img src="/static/image/banner_ship.png">
		</div>
		<div class="chunk_content">
			<h4>수선물품접수</h4>
			<div class="paragraph">
				* 견적문의 게시판 및 전화로 상담을 완료하신 후 아래 택배사 안내에 따라
				수선 물품을 접수하실 수 있습니다. <a href="/boardList?menu_id=1">견적문의 게시판 가기</a>
			</div>
			<div class="margintop"></div>
			<div class="shipment paragraph">
				<a href="http://hanex.hanjin.co.kr/" class="left_shipment"><img src="/static/image/hanjin.png"></a>
				<a href="https://www.doortodoor.co.kr/parcel/pa_00.jsp" class="right_shipment"><img src="/static/image/ucheguk.png"></a><br>
				<a href="https://www.epost.go.kr/usr/login/cafzc008k01.jsp?login=parcel1" class="left_shipment"><img src="/static/image/cj.png"></a>
				<a href="https://www.ilogen.com/d2d/delivery/reservation_loding.jsp" class="right_shipment"><img src="/static/image/logen.png"></a>
			</div>
			<div class="paragraph">
				본사로 보내는 비용은 고객 부담이며
				위의 택배사 중 원하는 곳을 이용하여 보내주시면 됩니다. <br><br><strong>주소 :</strong> 서울시 관악구 은천동 951-2번지 디딤 구둣방
			</div>
			<div class="margintop"></div>
			<h4>수선완료배송</h4>
			<div class="paragraph">
				*수선이 완료되면 입금 및 결제가 확인된 물품에 한하여 고객께 택배 발송됩니다.
					<br>(택배비용 : 수선비 4만원 이상 무료배송 / 이하는 3,000원 추가.)<br>
					*택배조회는 고객께서 안내된 택배사를 클릭하셔서 조회하실 수 있습니다.
			</div>
			<div class="margintop"></div>
			<h4>배송조회</h4>
			<div class="shipment paragraph">
				<a href="http://hanex.hanjin.co.kr/" class="left_shipment"><img src="/static/image/hanjin.png"></a>
				<a href="https://www.doortodoor.co.kr/parcel/pa_004.jsp" class="right_shipment"><img src="/static/image/ucheguk.png"></a><br>
				<a href="http://parcel.epost.go.kr/auth.EpostLogin.parcel" class="left_shipment"><img src="/static/image/cj.png"></a>
				<a href="https://www.ilogen.com/d2d/delivery/invoice_search.jsp" class="right_shipment"><img src="/static/image/logen.png"></a>
			</div>
		</div>
	</section>
	<section class="chunk" id="man">
		<div class="catch">
			<h3>남성구두</h3>
		</div>
		<div class="chunk_content">
			<div class="repair_des row">
				<div class="repair_image span5">
				</div>
				<div class="repair_text span3">
				</div>
			</div>
			<div class="fee_table">
				<table class="table table-bordered" id="fee">
					<thead></thead>
					<tbody>
						<tr class="top">
						<th>통굽갈이</th><td>15,000-20,000원</td>
						</tr>
						<tr>
						<th>보조굽갈이</th><td>12,000원</td>
						</tr>
						<tr>
						<th>내피갈이</th><td>20,000-30,000원</td>
						</tr>
						<tr>
						<th>발볼 늘리기</th><td>10,000원</td>
						</tr>
						<tr>
						<th>갑보갈이(뒤꿈치갈이)</th><td>15,000-25,000원</td>
						</tr>
						<tr>
						<th>깔창갈이(일반)</th>
						<td>5,000원</td>
						</tr>
						<tr>
						<th>깔창갈이(고급)</th>
						<td>5,000-20,000원</td>
						</tr>
						<tr>
						<th>염색(검은색)</th><td>15,000-30,000원</td>
						</tr>
						<tr>
						<th>염색(컬러)</th><td>60,000원</td>
						</tr>
						<tr>
						<th>보조창덧댐</th><td>12,000-20,000원</td>
						</tr>
						<tr>
						<th>지퍼갈이</th><td>20,000-35,000원</td>
						</tr>
						<tr>
						<th>전창갈이</th><td>40,000-60,000원</td>
						</tr>
						<tr>
						<th>사이즈 늘리기</th><td>상담요망</td>
						</tr>
					</tbody>
				</table>
				<div>
					<h4>수선 요금은 정가제에 의해 정해집니다.</h4>하지만 구두마다 사용되는 <strong>재료</strong>가 조금씩 다르기 때문에 가격 책정 결과가 <abbr title="attribute">달라질 수 있습니다.</abbr>
					<br>정확한 수선요금은 <a href="../boardList?menu_id=1" class="nodecolink"><strong>견적문의 게시판</strong></a>으로 문의해주세요. :)
				</div>
			</div>
		</div>
	</section>
	<section class="chunk" id="woman">
		<div class="catch">
			<h3>여성구두</h3>
		</div>
		<div class="chunk_content">
			<div class="repair_des row">
				<div class="repair_image span5">
				</div>
				<div class="repair_text span3">
				</div>
			</div>
			<div class="fee_table">
				<table class="table table-bordered" id="fee">
					<thead></thead>
					<tbody>
						<tr class="top">
						<th>보조굽갈이(소)</th><td>4,000원~</td>
						</tr>
						<tr class="top">
						<th>보조굽갈이(대)</th><td>~15,000원</td>
						</tr>
						<tr>
						<th>통굽갈이</th><td>15,000-30,000원</td>
						</tr>
						<tr>
						<th>내피갈이</th><td>15,000-30,000원</td>
						</tr>
						<tr>
						<th>갑보갈이(뒤꿈치)</th><td>10,000-20,000원</td>
						</tr>
						<tr>
						<th>발볼 늘리기</th><td>10,000원</td>
						</tr>
						<tr>
						<th>염색(검은색)</th><td>15,000-60,000원</td>
						</tr>
						<tr>
						<th>염색(컬러)</th><td>60,000원</td>
						</tr>
						<tr>
						<th>깔창갈이(일반)</th><td>5,000원~</td>
						</tr>
						<tr>
						<th>깔창갈이(고급)</th><td>~20,000원</td>
						</tr>
						<tr>
						<th>전창갈이</th><td>30,000-50,000원</td>
						</tr>
						<tr>
						<th>보조창갈이</th><td>10,000-15,000원</td>
						</tr>
						<tr>
						<th>사이즈 늘리기</th><td>상담요망</td>
						</tr>
					</tbody>
				</table>
				<div>
					<h4>수선 요금은 정가제에 의해 정해집니다.</h4>하지만 구두마다 사용되는 <strong>재료</strong>가 조금씩 다르기 때문에 가격 책정 결과가 <abbr title="attribute">달라질 수 있습니다.</abbr>
					<br>정확한 수선요금은 <a href="../boardList?menu_id=1" class="nodecolink"><strong>견적문의 게시판</strong></a>으로 문의해주세요. :)
				</div>
			</div>
		</div>
	</section>
	<section class="chunk" id="walker">
		<div class="catch">
			<h3>워커</h3>
		</div>
		<div class="chunk_content">
			<div class="fee_table">
				<table class="table table-bordered" id="fee">
					<thead></thead>
					<tbody>
						<tr class="top">
						<th>내피수선</th><td>15,000-30,000원</td>
						</tr>
						<tr>
						<th>갑보갈이(뒤꿈치)</th><td>10,000원</td>
						</tr>
						<tr>
						<th>염색(검은색)</th><td>20,000-50,000원</td>
						</tr>
						<tr>
						<th>염색(컬러)</th><td>60,000원</td>
						</tr>
						<tr>
						<th>발볼 늘리기</th><td>10,000원</td>
						</tr>
						<tr>
						<tr>
						<th>지퍼부착</th><td>20,000-40,000원</td>
						</tr>
						<tr>
						<th>깔창갈이(일반)</th><td>5,000원~</td>
						</tr>
						<tr>
						<th>깔창갈이(고급)</th><td>~25,000원</td>
						</tr>
						<tr>
						<th>전창갈이</th><td>40,000-60,000원</td>
						</tr>
						<tr>
						<th>전창갈이(등산화)</th><td>60,000원</td>
						</tr>
					</tbody>
				</table>
				<div>
					<h4>수선 요금은 정가제에 의해 정해집니다.</h4>하지만 구두마다 사용되는 <strong>재료</strong>가 조금씩 다르기 때문에 가격 책정 결과가 <abbr title="attribute">달라질 수 있습니다.</abbr>
					<br>정확한 수선요금은 <a href="../boardList?menu_id=1" class="nodecolink"><strong>견적문의 게시판</strong></a>으로 문의해주세요. :)
				</div>
			</div>
		</div>
	</section>
	<section class="chunk" id="sneaker">
		<div class="catch">
			<h3>운동화</h3>
		</div>
		<div class="chunk_content">
			<div class="fee_table">
				<table class="table table-bordered" id="fee">
					<thead></thead>
					<tbody>
						<tr class="top">
						<th>보조굽갈이</th><td>10,000원</td>
						</tr>
						<tr>
						<th>내피수선(갑보갈이 포함)</th><td>15,000-25,000원</td>
						</tr>
						<tr>
						<th>발볼 늘리기</th>
						<td>10,000원</td>
						</tr>
						<tr>
						<th>운동화창 덧댐</th>
						<td>20,000-35,000원</td>
						</tr>
						<tr>
						<th>깔창갈이(일반)</th><td>5,000원~</td>
						</tr>
						<tr>
						<th>깔창갈이(고급)</th><td>~20,000원</td>
						</tr>
						<tr>
						<th>보조창 덧댐</th><td>20,000-30,000원</td>
						</tr>
					</tbody>
				</table>
				<div>
					<h4>수선 요금은 정가제에 의해 정해집니다.</h4>하지만 구두마다 사용되는 <strong>재료</strong>가 조금씩 다르기 때문에 가격 책정 결과가 <abbr title="attribute">달라질 수 있습니다.</abbr>
					<br>정확한 수선요금은 <a href="../boardList?menu_id=1" class="nodecolink"><strong>견적문의 게시판</strong></a>으로 문의해주세요. :)
				</div>
			</div>
		</div>
	</section>
</div>
</div>
</body>
{% endblock %}
</html>