<!DOCTYPE html>
<html lang="ko">
{% extends "menu.html" %}
{% block content %}
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<style>
@import url("/static/css/event.css");
</style>
</head>
<body>
<div class="container" id="event_write">
	<h3>구두 나눔 신청하기</h3>
	<form action="/eventWrite" method="post" name="eventWrite" enctype='multipart/form-data'>
		<div class="margin30">
			<table class="table table-bordered">
				<tr>
				<th>이름 <em class="red">*</em></th>
				<td><input type="text" name="name" value="{{user.name}}"></td>
				</tr>
				<tr>
				<th>핸드폰 <em class="red">*</em></th>
				<td><input type="text" name="phone" value={{user.phone}}> '-' 는 제외하고 입력해주세요.</td>
				</tr>
				<tr>
				<th>희망 금액 <em class="red">*</em></th>
				<td><input type="text" name="amount"></td>
				</tr>
				<tr>
				<th>주소 <em class="red">*</em></th> 
				<td>
				<input type="text" id="postcode" placeholder="우편번호" name="postcode" value="{{user.postcode}}">
				<a onclick="execDaumPostcode()" class="btn">우편번호찾기</a><br>
				<input type="text" id="address" placeholder="주소" name="address" value="{{user.address}}">
				<input type="text" id="address2" placeholder="상세주소" name="detail_address" value="{{user.detail_address}}"></td>
				</tr>
				<tr>
				<th>사연 <em class="red">*</em></th>
				<td class="story">
				<textarea name="story" id="text"></textarea>
				<div>* 원하는 구두를 사연에 포함해주세요!</div>
				</td>
				</tr>
				<tr>
				<th>사진</th>
				<td><input type="file" name="image"></td>
				</tr>
				<tr>
				<td colspan="2"><div class="pagination-centered"><a class="btn_yellow" onclick="validation()">등록</a></div></td>
				</tr>
			</table>
		</div>
	</form>
</div>
<script>
function validation(){
	if($("input[name=phone]").val() == ""){
		alert("전화번호를 입력해주세요.");
		return;
	} 
	if($("input[name=name]").val() == ""){
		alert("이름을 입력해주세요.");
		return;
	}
	if($("input[name=postcode]").val() == ""){
		alert("우편번호를 입력해주세요.");
		return;
	}
	if($("input[name=address]").val() == ""){
		alert("주소를 입력해주세요.");
		return;
	}
	if($("input[name=detail_address]").val() == ""){
		alert("상세주소를 입력해주세요.");
		return;
	}
	if($("input[name=amount]").val() == ""){
		alert("희망금액을 입력해주세요.");
		return;
	}
	if(confirm("이벤트에 응모하시겠습니까?")){
		eventWrite.submit()
	}
}
function execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var fullAddr = ''; // 최종 주소 변수
            var extraAddr = ''; // 조합형 주소 변수

            // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                fullAddr = data.roadAddress;

            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                fullAddr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
            if(data.userSelectedType === 'R'){
                //법정동명이 있을 경우 추가한다.
                if(data.bname !== ''){
                    extraAddr += data.bname;
                }
                // 건물명이 있을 경우 추가한다.
                if(data.buildingName !== ''){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('postcode').value = data.zonecode; //5자리 새우편번호 사용
            document.getElementById('address').value = fullAddr;

            // 커서를 상세주소 필드로 이동한다.
            document.getElementById('address2').focus();
        }
    }).open();
}
</script>
{% endblock %}
</body>
</html>