<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
{% extends "menu.html" %}
<title>{{title}}</title>
{% block content %}
<body onload="changeMenuColor('faq_menu')">
<head>
   <meta charset="utf-8">
   <title>이용방법</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
   		@import url("/static/css/docs.css");	
		@import url("/static/css/bootstrap.css");
		@import url("/static/css/bootstrap-responsive.css");
	    @import url("/static/css/sales.css");
	    @import url("/static/css/list.css");
	    @import url("/static/css/menu.css");	
	</style>
</head>
<div class="container" id="banner">
<a href="/boardList?menu_id=3"><img src="/static/image/banner_faq.png"></a>
	<div class="container sub_banner">
		<span>자주 하시는 <span class="catch_font2">질문과 답변</span>을 안내합니다.</span>
	</div>
</div>
<div class="container" class="faq row">
	<div class="span3 catch_img">
		<img src="/static/image/faq.jpg">
	</div>
	<div class="accordion span7" id="accordion2">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	        Q : 수선이 불가능한 품목에는 어떤 것들이 있나요?
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse in">
	      <div class="accordion-inner">
	         A : 저희 디딤은 40년 장인의 손길로 구두를 수선해드리기 때문에 수선하지 못하는 품목은 거의 없습니다만, 훼손이 매우 심각한 경우나 기존 신발 사이즈를 지나치게 변형하는 것은 수선이 힘들 수도 있습니다.
	      </div>
	    </div>
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	        Q : 유행이 지난	구두의 리폼도 가능한가요?
	      </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
	      <div class="accordion-inner">
	        A : 네, 저희 디딤은 구두수선뿐만 아니라 오래된 구두나 유행에 맞지 않는 구두에 대해 고객님의 요구에 맞춘 리폼까지도 가능합니다. 
	      </div>
	    </div>
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
	        Q : 수선받은 제품이 마음에 들지 않아요. 
	      </a>
	    </div>
	    <div id="collapse3" class="accordion-body collapse">
	      <div class="accordion-inner">
	        A : 저희 디딤은 고객님의 만족을 위해 최선의 서비스를 제공할 것을 약속드리며, 만약 수선한 제품이 고객님의 마음에 들지 않는 경우 일정의 상담을 통하여 재수선을 해드립니다.
	      </div>
	    </div>
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
	        Q :직접 방문해서 수선받아도 되나요?
	      </a>
	    </div>
	    <div id="collapse5" class="accordion-body collapse">
	      <div class="accordion-inner">
	        A : 네, 가능합니다. 오프라인 디딤수선방을 직접 방문하는 것은 가능하며 수선을 하는데 일정 기간이 소요되실 수 있으므로 연락처를 남겨주시면 수선이 완료된 뒤 연락을 드리겠습니다, 만약, 다시 찾으러 오시는 길이 부담스러우실 경우 주소지를 남겨주시면 무료로 택배를 보내드립니다.
	      </div>
	    </div>
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
	        Q : 제품을 보냈는데 수선이 불가능하다면 택배비용은 어떻게 되나요?
	      </a>
	    </div>
	    <div id="collapse6" class="accordion-body collapse">
	      <div class="accordion-inner">
	        A : 고객님의 변심으로 인한 수선을 제외한다면 제품 수선이 불가능한 경우에는 디딤에서 편도 택배비를 부담합니다.
	      </div>
	    </div>
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">
	        Q : 수선을 맡기려고 하는데, 며칠쯤 걸릴까요?
	      </a>
	    </div>
	    <div id="collapse7" class="accordion-body collapse">
	      <div class="accordion-inner">
	        A : 고객님께서 보내신 신발이 오전에 도착할 경우 당일배송을 원칙으로 하고 있으나, 택배사의 사정이나 기타 부득이한 경우 익일배송이 될 수 있습니다. 
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}
</body>
</html>