<!DOCTYPE html>
<html lang="en">
<head>
<Meta Http-Equiv="Content-Type" Content="text/html; charset=utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" > <!-- Ajax Ex10에서 오류나는것 때문에 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<style>
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url("/static/css/bootstrap.css");
@import url("/static/css/bootstrap-responsive.css");
@import url("/static/css/menu.css");
</style>
</head>
<div class="navbar navbar-inverse">
     <div class="navbar-inner">
       <div class="container">
         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="brand logo" href="/"><img src="/static/image/foot.png">디딤</a>
         <div class="nav-collapse collapse">
           <ul class="nav">
   			<li class="standard_li"><a href="/aboutUs">디딤소개</a>
   			<li class="standard_li"><a href="/description">이용방법</a></li>
			<li class="standard_li"><a href="/sales">구두판매</a></li>	
   			<li class="standard_li"><a href="/boardList?menu_id=1">견적문의</a></li>
   			<li class="standard_li"><a href="/boardList?menu_id=2">이용후기</a></li>
   			<li class="standard_li"><a href="/boardList?menu_id=3">FAQ</a></li>
   			<li class="standard_li"><a href="/event">이벤트</a></li>
   		</ul> 
         </div><!--/.nav-collapse -->
       </div>
     </div>
   </div>
 <div class="empty">
 </div>
 <body>
 {% block content %}
 {% endblock %}
  </body>
 <div class="footer">
	 <div class="container">
	 	<div class="row">
		 	<div class="span">
		 	<strong>상호명</strong><span class="gray"> : 디딤</span> &nbsp;&nbsp;<strong>대표자</strong><span class="gray"> : 김종수</span>&nbsp;&nbsp; <strong>전화</strong><span class="gray"> : 010-3892-1902</span>
		 	<br><strong>주소</strong><span class="gray">  : 서울시 관악구 은천동 951-2번지</span>&nbsp;&nbsp;<strong>업무시간</strong><span class="gray"> : 월~토 09:00~18:00 </span>
		 	</div>
		 	<div class="span footer_right">
		 	<a href="http://blog.naver.com/kjzz5207"><img src="/static/image/naver_icon.png" class="menu_icon"></a>&nbsp;&nbsp;
   			<a href="#" onclick="alert('준비중입니다.')"><img src="/static/image/facebook_icon.png" class="menu_icon"></a>&nbsp;&nbsp;
   			<a href="http://uosenactus.weebly.com/"><img src="/static/image/enactus_logo.png" class="menu_icon_big"></a>
   			<br>
		 	Copyright (c) 2015 All Rights Reserved.
		 	</div>
	 	</div>
	 </div>
 </div>
<script type="text/javascript" src="static/js/jquery-1.7.min.js"></script>
<script type='text/javascript' src='static/js/bootstrap.js'></script>
<script type='text/javascript' src='static/js/test.js'></script>
</html>