<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
{% extends "menu.html" %}
<title>{{title}}</title>
{% block content %}
<body onload="changeMenuColor('faq_menu')">
<head>
   <meta charset="utf-8">
   <title>이용방법</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
   		@import url("/static/css/docs.css");	
		@import url("/static/css/bootstrap.css");
		@import url("/static/css/bootstrap-responsive.css");
	    @import url("/static/css/menu.css");	
	    body {background-color:#f6f6f6}
		#banner {width:500px;margin:0 auto;}
		.login_form {width:500px;height:300px;border:1px solid #e4e4e4;padding-left:30px;padding-top:30px;background-color:white;margin-bottom:30px;}
	</style>
</head>
<div class="container" id="banner">
	<form action="/myOrder" method="post" name="myOrderForm" enctype='multipart/form-data'>
	<div class="login_form">
		<h3>주문조회</h3>
		<div>
			<strong>아이디</strong><br>
			<input type="text" name="name"><br>
			<strong>패스워드</strong><br>
			<input type="password" name="password"><br><br>
			<a class="btn_yellow" onclick="myOrderForm.submit()">주문조회</a>	
		</div>
		<div class="margin30">
			©Deedim Co. All rights reserved. 
		</div>
	</div>
	</form>
</div>
{% endblock %}
</body>
</html>