<!DOCTYPE html>
<html lang="ko">
{% extends "menu.html" %}
{% block content %}
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<style>
@import url("/static/css/event.css");	
</style>
</head>
<body>
<div class="container" id="banner">
<h3>주문조회</h3>
</div>
<div class="container" id="event_content">
		<div class="margin30">
			<table class="table table-bordered">
				<tr>
				<th>이름</th>
				<td class="col2">{{result.name}}</td>
				<th>핸드폰</th>
				<td>{{result.phone}}</td>
				</tr>
				<tr>
				<th>주소</th> 
				<td>{{result.address}}</td>
				<th>신청일자</th>
				<td>{{result.date}}</td>
				</tr>
				<tr>
				<th>
				수선종류
				</th>
				<td>
				{%if result.repair_type == 1%}
				남성구두
				{% endif %}
				{% if result.repair_type == 2 %}
				여성구두
				{% endif %}
				{% if result.repair_type == 3 %}
				워커
				{% endif %}
				{% if result.repair_type == 4 %}
				운동화
				{% endif %}
				</td>
				<th>수선</th>
				<td>{{result.repair_name}}</td>
				</tr>
				<tr>
				<th>가격</th>
				<td>{{result.price}}</td>
				<th>최종가격</th>
				<td>
				{% if result.final_price == None%}
					미정
				{% endif %}
				{% if result.final_price != None %}
					{{result.final_price}}
				{% endif %}
				</td>
				</tr>
				<tr>
				<th>상태</th>
				<td>
				{%if result.state == 1%}
				주문완료
				{% endif %}
				{% if result.state == 2 %}
				입금대기
				{% endif %}
				{% if result.state == 3 %}
				입금완료
				{% endif %}
				{% if result.state == 4 %}
				물품도착
				{% endif %}
				{% if result.state == 5 %}
				배송중
				{% endif %}
				</td>
				<th>사진</th>
				<td colspan="3"><img src="/show_image2/{{result.key}}"></td>
				</tr>
			</table>
		</div>
</div>
{% endblock %}
</body>
</html>