<!DOCTYPE html>
<html lang="ko">
<head>
{% extends "menu.html" %}
<meta charset="utf-8">
<title>{{title}}</title>
</head>
{% block content %}
<head>
   <meta charset="utf-8">
   <title>이용방법</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
   		@import url("/static/css/docs.css");
		@import url("/static/css/bootstrap.css");
		@import url("/static/css/bootstrap-responsive.css");
	    @import url("/static/css/sales.css");
	    @import url("/static/css/menu.css");	
	    #banner {margin-top:10px;}
	</style>
</head>
<body onload="changeMenuColor('sales_menu')">
<div class="row" id="sales">
	<div class="container">
		<div id="banner">
			<img src="/static/image/main_menu_sale.png">
		</div>
		<div class="span catch_span">
			<div class="catch_font2 margin"><span>메이커 납품용 구두를 싸게 구입할 수 있는 찬스!</span></div><br>
			<span>상표만 없을뿐 상품의 질은 똑같아요.</span>
		</div>
		<div class="catch_div span">
			<div class="span kakao">
				<div class="span kakao_img_div">
					<img src="/static/image/kakao.png" class="kakao_img">
				</div>
				<div class="span kakao_des">
					<span class="big">실시간 카카오톡 문의</span><br> 
					<span>YellowID : @디딤구두수선</span>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="photo_wrapper">
			{% for r in result %}
				<div class="product_inner_wrapper">
					<div class="photo">
						<a href="#myModal{{r.key}}" role="button" data-toggle="modal"><img src='/show_image/{{r.key}}'></a>
					</div>
					<div class="product_des">
						<span class="name">{{r.name}}</span><br>
						<span class="price">{{r.price_str}}</span>
					</div>
				</div>
				<div id="myModal{{r.key}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">상품 상세보기</h3>
				  </div>
				  <div class="modal-body">
				  	<div class="detail_photo">
					  	<img src='/show_image2/{{r.key}}'>
				  	</div>
				  	<div class="detail_photo">
					  	{% if r.detail_img1 %}
					  	<img src='/show_detail1/{{r.key}}'>
					  	{% else %}
					  	{% endif %}
				  	</div>
				  	<div class="detail_photo">
					  	{% if r.detail_img2 %}
					  	<img src='/show_detail2/{{r.key}}'>
					  	{% else %}
					  	{% endif %}
				  	</div>
				  	<div class="detail_photo">
					  	{% if r.detail_img3 %}
					  	<img src='/show_detail3/{{r.key}}'>
					  	{% else %}
					  	{% endif %}
				  	</div>
				  </div>
				  <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">닫기</button>
				  </div>
				</div>
				{% endfor %}
			</div>
		</div>	
		{% if moreProduct %}
		<div class="pagination-centered" id="more">
			<a class="sales_more label label-inverse" onclick="getProducts({{offset}})">더보기</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
</body>
</html>