<!DOCTYPE html>
<html lang="ko">
<head>
{% extends "menu.html" %}
<meta charset="utf-8">
<title>{{title}}</title>
</head>
<body>
{% block content %}
<style>
</style>
<div class="container" id="banner">
	<h3>유저 목록</h3>
</div>
<div class="container" id="product_list">
	<form action="userDelete" name="deleteForm" method="post">
		<input type="hidden" name="key">
		<div class="margin30">
			<table class="table"> 
				<thead>
					<tr>
						<th class="id">아이디</th>
						<th class="name">이름</th>
						<th class="birthday">나이</th>
						<th class="gender">성별</th>
						<th class="phone">연락처</th>
						<th class="address">주소</th>
						<th class="date">일시</th>
					</tr>
				</thead>
				<tbody>
				{% for r in result %}
				<tr>
					<td>{{r.id}}</td>
					<td>{{r.name}}</td>
					<td>{{r.birthday_year}} {{r.birthday_month}} {{r.birthday_day}}</td>
					<td>{{r.gender}}</td>
					<td>{{r.phone}}</td>
					<td>{{r.address}} {{r.detail_address}}</td>
					<td>{{r.date}}</td>
					<td><a onclick="deleteContent('{{r.key}}')" class="label label-red more">삭제</a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</form>	
	<div class="margin30">
	</div>
</div>
{% endblock %}
</body>
</html>